@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body,
html {
  max-width: 100vw;
  overflow-x: hidden;
}

.invert {
  filter: invert(60%);
  &:hover{
    filter: invert(30%);
  }
}

.footer {
  height: 50vh;
}

.height{
  height: auto;
}

.nav-container{
  display: flex;
  flex-direction: column;
  padding-left: 10%;

  .list{
    margin-top: 6%;
    display: flex;
    align-items: center;
    padding-left: 4%;
    border-radius: 5%;
    padding: 5%;
    &:hover{
      background-color: yellowgreen;
    }
    
    .link{
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 767px) {
  //   div {
  .fom {
    margin-top: 5%;
  }

  .footer {
    height: auto;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    height: auto;
  }
}
